In [92]:
import pandas as pd

In [93]:
df = pd.read_csv('data\pet_dataset_form.csv')

In [94]:
df

,ประทับเวลา,คะแนน,สัตว์เลี้ยงที่เลี้ยงอยู่คืออะไร,เพศ,งบประมาณในการเลี้ยงสัตว์(ต่อเดือน),เวลาว่างเฉลี่ยต่อวัน (24 ชั่วโมง),เวลาอยู่บ้านเฉลี่ยต่อวัน (24 ชั่วโมง),ที่อยู่อาศัย,สัตว์เลี้ยงเงียบหรือไม่,เป็นภูมแพ้หรือไม่
0,"1/9/2025, 17:06:42",NaN,ปลา,ชาย,400,3,2,House,Yes,Yes
1,"1/9/2025, 17:25:06",NaN,สุนัข,ชาย,6500,10,24,House,No,No
2,"1/9/2025, 17:35:49",NaN,แมว,ชาย,400ต่อเดือน,1,12,House,No,No
3,"1/9/2025, 17:38:15",NaN,สุนัข,หญิง,4000 ต่อเดือน,4 ชั่วโมง,2 ชั่วโมง,Condo,Yes,No
4,"1/9/2025, 17:39:01",NaN,แฮมเตอร์,ชาย,50000000,14,24,Condo,No,No
5,"1/9/2025, 17:40:59",NaN,งู,หญิง,2000,1,9,House,Yes,Yes
6,"1/9/2025, 17:41:48",NaN,ไม่เลี้ยงสัตว์,หญิง,500,0,0,Apartment,No,Yes
7,"1/9/2025, 17:56:59",NaN,งู,ชาย,2500,6 ชั่วโมง,10 ชั่วโมง,House,Yes,No
8,"1/9/2025, 18:20:42",NaN,แมว,หญิง,500-800,6,15,House,Yes,Yes
9,"1/9/2025, 18:38:23",NaN,แฮมเตอร์,ชาย,12000,2,2,House,Yes,Yes
10,"1/9/2025, 18:41:32",NaN,ปลา,ชาย,45,8,8,Apartment,Yes,No
11,"1/9/2025, 18:44:23",NaN,ไม่เลี้ยงสัตว์,ชาย,5E+301,26,27,House,No,Yes
12,"1/9/2025, 18:44:55",NaN,สุนัข,หญิง,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes
13,"1/9/2025, 18:45:14",NaN,สุนัข,หญิง,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes
14,"1/9/2025, 18:45:57",NaN,สุนัข,ชาย,"700,000",24,20,Condo,Yes,Yes
15,"1/9/2025, 18:47:33",NaN,แมว,ชาย,200-400,4,6,House,Yes,Yes
16,"1/9/2025, 19:04:38",NaN,ไม่เลี้ยงสัตว์,ชาย,1000,8,16,House,Yes,Yes
17,"1/9/2025, 19:19:57",NaN,แมว,หญิง,5240,3,12,Condo,Yes,No

In [95]:
df = df.drop(["ประทับเวลา", "คะแนน"], axis=1)

In [96]:
df

,สัตว์เลี้ยงที่เลี้ยงอยู่คืออะไร,เพศ,งบประมาณในการเลี้ยงสัตว์(ต่อเดือน),เวลาว่างเฉลี่ยต่อวัน (24 ชั่วโมง),เวลาอยู่บ้านเฉลี่ยต่อวัน (24 ชั่วโมง),ที่อยู่อาศัย,สัตว์เลี้ยงเงียบหรือไม่,เป็นภูมแพ้หรือไม่
0,ปลา,ชาย,400,3,2,House,Yes,Yes
1,สุนัข,ชาย,6500,10,24,House,No,No
2,แมว,ชาย,400ต่อเดือน,1,12,House,No,No
3,สุนัข,หญิง,4000 ต่อเดือน,4 ชั่วโมง,2 ชั่วโมง,Condo,Yes,No
4,แฮมเตอร์,ชาย,50000000,14,24,Condo,No,No
5,งู,หญิง,2000,1,9,House,Yes,Yes
6,ไม่เลี้ยงสัตว์,หญิง,500,0,0,Apartment,No,Yes
7,งู,ชาย,2500,6 ชั่วโมง,10 ชั่วโมง,House,Yes,No
8,แมว,หญิง,500-800,6,15,House,Yes,Yes
9,แฮมเตอร์,ชาย,12000,2,2,House,Yes,Yes
10,ปลา,ชาย,45,8,8,Apartment,Yes,No
11,ไม่เลี้ยงสัตว์,ชาย,5E+301,26,27,House,No,Yes
12,สุนัข,หญิง,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes
13,สุนัข,หญิง,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes
14,สุนัข,ชาย,"700,000",24,20,Condo,Yes,Yes
15,แมว,ชาย,200-400,4,6,House,Yes,Yes
16,ไม่เลี้ยงสัตว์,ชาย,1000,8,16,House,Yes,Yes
17,แมว,หญิง,5240,3,12,Condo,Yes,No

In [97]:
df.rename(columns={"สัตว์เลี้ยงที่เลี้ยงอยู่คืออะไร": "PetChoice",
                   "เพศ":"Gender",
                   "งบประมาณในการเลี้ยงสัตว์(ต่อเดือน)":"Budget",
                   "เวลาว่างเฉลี่ยต่อวัน (24 ชั่วโมง)":"FreeTime",
                   "เวลาอยู่บ้านเฉลี่ยต่อวัน (24 ชั่วโมง)":"TimeAtHome",
                   "ที่อยู่อาศัย": "Living",
                   "สัตว์เลี้ยงเงียบหรือไม่":"PreferQuietPet",
                   "เป็นภูมแพ้หรือไม่":"Allergies",


                   
                   
                   
                    },inplace=True)

In [98]:
df

,PetChoice,Gender,Budget,FreeTime,TimeAtHome,Living,PreferQuietPet,Allergies
0,ปลา,ชาย,400,3,2,House,Yes,Yes
1,สุนัข,ชาย,6500,10,24,House,No,No
2,แมว,ชาย,400ต่อเดือน,1,12,House,No,No
3,สุนัข,หญิง,4000 ต่อเดือน,4 ชั่วโมง,2 ชั่วโมง,Condo,Yes,No
4,แฮมเตอร์,ชาย,50000000,14,24,Condo,No,No
5,งู,หญิง,2000,1,9,House,Yes,Yes
6,ไม่เลี้ยงสัตว์,หญิง,500,0,0,Apartment,No,Yes
7,งู,ชาย,2500,6 ชั่วโมง,10 ชั่วโมง,House,Yes,No
8,แมว,หญิง,500-800,6,15,House,Yes,Yes
9,แฮมเตอร์,ชาย,12000,2,2,House,Yes,Yes
10,ปลา,ชาย,45,8,8,Apartment,Yes,No
11,ไม่เลี้ยงสัตว์,ชาย,5E+301,26,27,House,No,Yes
12,สุนัข,หญิง,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes
13,สุนัข,หญิง,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes
14,สุนัข,ชาย,"700,000",24,20,Condo,Yes,Yes
15,แมว,ชาย,200-400,4,6,House,Yes,Yes
16,ไม่เลี้ยงสัตว์,ชาย,1000,8,16,House,Yes,Yes
17,แมว,หญิง,5240,3,12,Condo,Yes,No

In [99]:
# แยกคอลัมน์ PetChoice ออกมา
pet_choice = df.pop('PetChoice')

# แทรกกลับเข้าไปหลัง Allergies
df.insert(df.columns.get_loc('Allergies') + 1, 'PetChoice', pet_choice)

In [100]:
df

,Gender,Budget,FreeTime,TimeAtHome,Living,PreferQuietPet,Allergies,PetChoice
0,ชาย,400,3,2,House,Yes,Yes,ปลา
1,ชาย,6500,10,24,House,No,No,สุนัข
2,ชาย,400ต่อเดือน,1,12,House,No,No,แมว
3,หญิง,4000 ต่อเดือน,4 ชั่วโมง,2 ชั่วโมง,Condo,Yes,No,สุนัข
4,ชาย,50000000,14,24,Condo,No,No,แฮมเตอร์
5,หญิง,2000,1,9,House,Yes,Yes,งู
6,หญิง,500,0,0,Apartment,No,Yes,ไม่เลี้ยงสัตว์
7,ชาย,2500,6 ชั่วโมง,10 ชั่วโมง,House,Yes,No,งู
8,หญิง,500-800,6,15,House,Yes,Yes,แมว
9,ชาย,12000,2,2,House,Yes,Yes,แฮมเตอร์
10,ชาย,45,8,8,Apartment,Yes,No,ปลา
11,ชาย,5E+301,26,27,House,No,Yes,ไม่เลี้ยงสัตว์
12,หญิง,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes,สุนัข
13,หญิง,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes,สุนัข
14,ชาย,"700,000",24,20,Condo,Yes,Yes,สุนัข
15,ชาย,200-400,4,6,House,Yes,Yes,แมว
16,ชาย,1000,8,16,House,Yes,Yes,ไม่เลี้ยงสัตว์
17,หญิง,5240,3,12,Condo,Yes,No,แมว

Column Gender

In [101]:
df['Gender'] = df['Gender'].replace({'ชาย': 'Male', 'หญิง': 'Female'})

In [102]:
df

,Gender,Budget,FreeTime,TimeAtHome,Living,PreferQuietPet,Allergies,PetChoice
0,Male,400,3,2,House,Yes,Yes,ปลา
1,Male,6500,10,24,House,No,No,สุนัข
2,Male,400ต่อเดือน,1,12,House,No,No,แมว
3,Female,4000 ต่อเดือน,4 ชั่วโมง,2 ชั่วโมง,Condo,Yes,No,สุนัข
4,Male,50000000,14,24,Condo,No,No,แฮมเตอร์
5,Female,2000,1,9,House,Yes,Yes,งู
6,Female,500,0,0,Apartment,No,Yes,ไม่เลี้ยงสัตว์
7,Male,2500,6 ชั่วโมง,10 ชั่วโมง,House,Yes,No,งู
8,Female,500-800,6,15,House,Yes,Yes,แมว
9,Male,12000,2,2,House,Yes,Yes,แฮมเตอร์
10,Male,45,8,8,Apartment,Yes,No,ปลา
11,Male,5E+301,26,27,House,No,Yes,ไม่เลี้ยงสัตว์
12,Female,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes,สุนัข
13,Female,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes,สุนัข
14,Male,"700,000",24,20,Condo,Yes,Yes,สุนัข
15,Male,200-400,4,6,House,Yes,Yes,แมว
16,Male,1000,8,16,House,Yes,Yes,ไม่เลี้ยงสัตว์
17,Female,5240,3,12,Condo,Yes,No,แมว

Column PetChoice

In [103]:
df['PetChoice'] = df['PetChoice'].replace({
    'ปลา': 'Fish',
    'สุนัข': 'Dog',
    'แมว': 'Cat',
    'แฮมเตอร์': 'Hamster',
    'งู': 'Snake',
    'ไม่เลี้ยงสัตว์': 'No pet'
})

In [104]:
df

,Gender,Budget,FreeTime,TimeAtHome,Living,PreferQuietPet,Allergies,PetChoice
0,Male,400,3,2,House,Yes,Yes,Fish
1,Male,6500,10,24,House,No,No,Dog
2,Male,400ต่อเดือน,1,12,House,No,No,Cat
3,Female,4000 ต่อเดือน,4 ชั่วโมง,2 ชั่วโมง,Condo,Yes,No,Dog
4,Male,50000000,14,24,Condo,No,No,Hamster
5,Female,2000,1,9,House,Yes,Yes,Snake
6,Female,500,0,0,Apartment,No,Yes,No pet
7,Male,2500,6 ชั่วโมง,10 ชั่วโมง,House,Yes,No,Snake
8,Female,500-800,6,15,House,Yes,Yes,Cat
9,Male,12000,2,2,House,Yes,Yes,Hamster
10,Male,45,8,8,Apartment,Yes,No,Fish
11,Male,5E+301,26,27,House,No,Yes,No pet
12,Female,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes,Dog
13,Female,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes,Dog
14,Male,"700,000",24,20,Condo,Yes,Yes,Dog
15,Male,200-400,4,6,House,Yes,Yes,Cat
16,Male,1000,8,16,House,Yes,Yes,No pet
17,Female,5240,3,12,Condo,Yes,No,Cat

Column Freetime,TimeAtHome

In [105]:
def extract_numeric(val):
    try:
        return int(''.join(filter(str.isdigit, str(val))))
    except:
        return None

df['FreeTime'] = df['FreeTime'].apply(extract_numeric)
df['TimeAtHome'] = df['TimeAtHome'].apply(extract_numeric)

ชdf = df[(df['FreeTime'] <= 24) & (df['TimeAtHome'] <= 24)]

In [106]:
df

,Gender,Budget,FreeTime,TimeAtHome,Living,PreferQuietPet,Allergies,PetChoice
0,Male,400,3,2,House,Yes,Yes,Fish
1,Male,6500,10,24,House,No,No,Dog
2,Male,400ต่อเดือน,1,12,House,No,No,Cat
3,Female,4000 ต่อเดือน,4,2,Condo,Yes,No,Dog
4,Male,50000000,14,24,Condo,No,No,Hamster
5,Female,2000,1,9,House,Yes,Yes,Snake
6,Female,500,0,0,Apartment,No,Yes,No pet
7,Male,2500,6,10,House,Yes,No,Snake
8,Female,500-800,6,15,House,Yes,Yes,Cat
9,Male,12000,2,2,House,Yes,Yes,Hamster
10,Male,45,8,8,Apartment,Yes,No,Fish
11,Male,5E+301,26,27,House,No,Yes,No pet
12,Female,909090090909909090990909090909000090909090,29,278,Apartment,No,Yes,Dog
13,Female,666666666666666666666666666666666,666666666666666666666666666666666666,666666666666666666666666666666666666,House,No,Yes,Dog
14,Male,"700,000",24,20,Condo,Yes,Yes,Dog
15,Male,200-400,4,6,House,Yes,Yes,Cat
16,Male,1000,8,16,House,Yes,Yes,No pet
17,Female,5240,3,12,Condo,Yes,No,Cat

Column Budget

In [107]:
# ฟังก์ชันแปลงงบประมาณเป็นตัวเลข
def extract_budget(val):
    try:
        return int(''.join(filter(str.isdigit, str(val))))
    except:
        return None

# สร้างคอลัมน์ชั่วคราวเพื่อใช้กรอง
df['__budget_numeric'] = df['Budget'].apply(extract_budget)

# ลบแถวที่งบประมาณเกิน 100000
df = df[df['__budget_numeric'] <= 100000]

# แทนค่าในคอลัมน์ Budget เดิมด้วยช่วงที่ต้องการ
def categorize_budget(num):
    if num is None:
        return 'Unknown'
    elif num < 1000:
        return 'Less than 1000'
    elif 1000 <= num <= 3000:
        return 'Between 1000 and 3000'
    else:
        return 'Greater than 3000'

df['Budget'] = df['__budget_numeric'].apply(categorize_budget)

# ลบคอลัมน์ชั่วคราว
df.drop(columns=['__budget_numeric'], inplace=True)

C:\Users\Suthichai\AppData\Local\Temp\ipykernel_25676\4238089363.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Budget'] = df['__budget_numeric'].apply(categorize_budget)
C:\Users\Suthichai\AppData\Local\Temp\ipykernel_25676\4238089363.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['__budget_numeric'], inplace=True)

In [108]:
df

,Gender,Budget,FreeTime,TimeAtHome,Living,PreferQuietPet,Allergies,PetChoice
0,Male,Less than 1000,3,2,House,Yes,Yes,Fish
1,Male,Greater than 3000,10,24,House,No,No,Dog
2,Male,Less than 1000,1,12,House,No,No,Cat
3,Female,Greater than 3000,4,2,Condo,Yes,No,Dog
5,Female,Between 1000 and 3000,1,9,House,Yes,Yes,Snake
6,Female,Less than 1000,0,0,Apartment,No,Yes,No pet
7,Male,Between 1000 and 3000,6,10,House,Yes,No,Snake
9,Male,Greater than 3000,2,2,House,Yes,Yes,Hamster
10,Male,Less than 1000,8,8,Apartment,Yes,No,Fish
11,Male,Greater than 3000,26,27,House,No,Yes,No pet
16,Male,Between 1000 and 3000,8,16,House,Yes,Yes,No pet
17,Female,Greater than 3000,3,12,Condo,Yes,No,Cat

In [109]:
df.to_csv("data_ready/dataset2.csv", index=False, encoding="utf-8-sig")